/* Import all CSS modules */
@import './variables.css';
@import './base.css';
@import './dark-mode.css';
@import './navigation.css';
@import './home.css';
@import './components.css';
@import './pages.css';
@import './documentation.css';
@import './code.css';
@import './responsive.css';